#efeito {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.destaque {
  background-color: red;
  width: 200px !important;
}

.encolher {
  background-color: gray;
  width: 50px !important;
}

.lwhite {
  color: white;
}

.bgblack {
  background-color: black;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: black;
}

.grandeb {
  width: 200px;
}

.barra-progresso {
  height: 30px;
  width: 200px;
  border: 1px solid #000;
}

.progresso {
  background-color: red;
  height: 100%;
}
